In [9]:
from kreuzbergml.data_quality.data_frame_statistics import DataFrameStatistics

In [10]:
import pandas as pd

In [11]:

melb_1000_file_path = 'tests/sample_data/melb_1000.csv'
df_melb = pd.read_csv(melb_1000_file_path)

In [12]:
dq_melb = DataFrameStatistics(df_melb)
dq_melb.print_report()

DATA QUALITY REPORT

No duplicate columns were found.
The following columns have NaN values:
Column 'BuildingArea' has 437 NaN values which comprise 0.44 of all rows
Column 'YearBuilt' has 373 NaN values which comprise 0.37 of all rows

In [13]:
census_1000_file_path = 'tests/sample_data/census_1000.csv'
df_census = pd.read_csv(census_1000_file_path)

In [14]:
dq_census = DataFrameStatistics(df_census)
dq_census.print_report()

DATA QUALITY REPORT

Found 1 columns with exactly the same feature values as other columns.
Columns ['workclass2'] is/are duplicate(s) of Column 'workclass'
No NaN values were found

In [15]:
timeseries_path = 'tests/sample_data/Electric_Production_timeseries.csv'
df_timeseries = pd.read_csv(timeseries_path, parse_dates=["DATE"], index_col=0)

In [16]:
dq_timeseries = DataFrameStatistics(df_timeseries)
dq_timeseries.print_report()

DATA QUALITY REPORT

Found 11658 missing dates in the timeseries index
Found 1 duplicate rows :
               Value
DATE
1985-01-01  72.5052